body{
  width: 50%;
  margin: auto;
}

h1{
  text-align: center;
  margin: auto;
  padding: 1em;
}

table{
  border: 5px solid black;
  align-self: center;
}

th{
  border: 2px black;

}

td{
  border-width: 1px;
	border-style: solid;
}

h3{
  text-align: center;
}

form{
  width: 50%;
  align-self: center;
}